# Death Rate vs Unemployment

Amidst the corona virus crisis, most countries have adopted a lockdown. Several of these are now in the phase to return to the normal life. At this stage, there is a fine line between opening the economy and keeping the lockdown:  

* Fully opening the economy, the virus may spread, compromising the lockdown.   
* Not opening at all, the economy will crash

The New York Governor Andrew Cuomo stated ["How can the cure be worse than the illness, if the ilness is potential death?"](https://www.youtube.com/watch?v=2X1Tgmsv9Ao) in April 22, 2020

The alternative is death. No doubt that is true, as we have unfortunately witnessed the cases of Italy and Spain.

Notwithstanding, the economic calamity can also have disturbing consequences. Many may be familiarized with Brad Pitt's [quote on The Big Short](https://www.youtube.com/watch?time_continue=5&v=0k5aVLi_yhM&feature=emb_logo) that when the unemployment rate goes up 1% 40 000 people die

<img src="https://i.ytimg.com/vi/vgqG3ITMv1Q/maxresdefault.jpg" alt="drawing" width="500"/>


So, are both alternatives death?

I will regress death rate against the unemplyment rate, to test check whether this relationship is true or not.

In [8]:
import pandas as pd
import numpy as np
import statsmodels.api as sm #to run regressions
import urllib.request #to extract FF factors
import zipfile #to unzip files
import datetime #to work with the dates

### Let's get the unemployment rates worldwide
source: World Bank

In [29]:
def get_unemployment():
    # Web url
    unemployment_url = "http://api.worldbank.org/v2/en/indicator/SL.UEM.TOTL.ZS?downloadformat=csv"
    
    # Download the file and save it
    # We will name it fama_french.zip file
    
    urllib.request.urlretrieve(unemployment_url,'unemployment.zip')
    zip_file = zipfile.ZipFile('unemployment.zip', 'r')
    
    # Next we extact the file data
    
    zip_file.extractall()
    
    # Make sure you close the file after extraction
    
    zip_file.close()
    
    # Now open the CSV file
    
    unemployment = pd.read_csv('API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_1068808.csv', skiprows = 4)
    
    return unemployment

In [31]:
unemployment = get_unemployment()
unemployment.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.488,11.508,11.534,11.448,11.387,11.313,11.184,11.057,11.118,NaN
2,Angola,AGO,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.362,7.379,7.400,7.331,7.282,7.223,7.119,7.019,6.886,NaN
3,Albania,ALB,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.481,13.376,15.866,17.490,17.080,15.220,13.750,12.340,12.331,NaN
4,Andorra,AND,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Let's get the death rate 
(source: World Bank)

In [32]:
def get_mortality():
    # Web url
    mortality_url = "http://api.worldbank.org/v2/en/indicator/SP.DYN.CDRT.IN?downloadformat=csv"
    
    # Download the file and save it
    # We will name it fama_french.zip file
    
    urllib.request.urlretrieve(mortality_url,'mortality.zip')
    zip_file = zipfile.ZipFile('mortality.zip', 'r')
    
    # Next we extact the file data
    
    zip_file.extractall()
    
    # Make sure you close the file after extraction
    
    zip_file.close()
    
    # Now open the CSV file
    
    mortality = pd.read_csv('API_SP.DYN.CDRT.IN_DS2_en_csv_v2_1070161.csv', skiprows = 4)
    
    return mortality

In [33]:
mortality = get_mortality()
mortality.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,"Death rate, crude (per 1,000 people)",SP.DYN.CDRT.IN,6.388,6.241,6.118,6.012,5.920,5.839,...,8.061,8.205,8.347,8.488,8.627,8.765,8.907,9.053,NaN,NaN
1,Afghanistan,AFG,"Death rate, crude (per 1,000 people)",SP.DYN.CDRT.IN,32.219,31.649,31.093,30.551,30.022,29.501,...,7.936,7.645,7.380,7.141,6.929,6.742,6.575,6.423,NaN,NaN
2,Angola,AGO,"Death rate, crude (per 1,000 people)",SP.DYN.CDRT.IN,27.097,26.859,26.627,26.407,26.194,25.966,...,11.039,10.451,9.921,9.454,9.052,8.716,8.432,8.190,NaN,NaN
3,Albania,ALB,"Death rate, crude (per 1,000 people)",SP.DYN.CDRT.IN,11.326,10.719,10.175,9.707,9.320,9.009,...,6.915,6.996,7.096,7.219,7.367,7.534,7.714,7.898,NaN,NaN
4,Andorra,AND,"Death rate, crude (per 1,000 people)",SP.DYN.CDRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.900,NaN,NaN,NaN,4.300,NaN,4.400,NaN,NaN